body{
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 400px;
  font-family: Comic cursive;
  text-align:left;
  margin: 80px;
}
.intro2{
  font-size: 25px;
  color: cornflowerblue;
  text-align: center;
}
